{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{age.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldYear">Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Year" name="fldYear" value="{{age.fldYear}}">
        </div>
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge" value="{{age.fldAge}}">
        </div>
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Name" name="fldName" value="{{age.fldName}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldFilm">Film</label>
            <input id="fldFilm" type="text" class="form-control" placeholder="Film" name="fldFilm" value="{{age.fldFilm}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

