{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Age</th>
        <th scope="col">Name</th>
        <th scope="col">Film</th>
    </tr>
    </thead>
    <tbody>
    {% for age in actress %}
    <tr>
        <td><a href="view/{{age.id}}">{{age.name }}</a></td>
        <td>{{age.sex }}</td>
        <td>{{age.age }}</td>
        <td>{{age.height_in }}</td>
        <td>{{age.weight_lbs }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}