{% extends "layout.html" %}
{% block content %}
<form action="/bios/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="name">Year</label>
            <input id="name" type="text" class="form-control" placeholder="Year" name="year">
        </div>
        <div class="col">
            <label for="sex">Age</label>
            <input id="sex" type="text" class="form-control" placeholder="Age" name="age">
        </div>
        <div class="col">
            <label for="age">Name</label>
            <input id="age" type="text" class="form-control" placeholder="Name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="height_in">Film</label>
            <input id="height_in" type="text" class="form-control" placeholder="Film" name="film">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}

